@model IEnumerable<NDPatients.Models.PatientDiagnosis>

@{
    ViewData["Title"] = "Diagnosis for Patient ID: " + ViewData["PatientId"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @ViewData["PatientFullName"]
            </td>
            <td>
                <a asp-controller="NDPatientTreatment" 
                   asp-route-patientDiagnosisId="@item.PatientDiagnosisId"
                   asp-route-patientDiagnosisName="@item.Diagnosis.Name"
                   asp-route-patientFullName="@ViewData["PatientFullName"]">
                    @Html.DisplayFor(modelItem => item.Diagnosis.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientDiagnosisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientDiagnosisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientDiagnosisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
